Data_Extract_Pipeline/Data_Extract_Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"synapsecu109gn"},"Nasa_Rest_Api":{"type":"string"},"synapsecu109gn-WorkspaceDefaultStorage":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/Data_Extract_Pipeline')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"description":"Data getting extracted from NASA Api","activities":[{"name":"Copy_Source_Data","type":"Copy","dependsOn":[{"activity":"Web1","dependencyConditions":["Skipped"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","additionalHeaders":{"api_key":"KVKnHgQivlp35ip7Ai2ksQE92TZKg3aX9ZMlV5kI"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"RestResource1","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Json1","type":"DatasetReference","parameters":{}}]},{"name":"Web1","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"GET","headers":{"api_key":"KVKnHgQivlp35ip7Ai2ksQE92TZKg3aX9ZMlV5kI"},"url":"https://osdr.nasa.gov/geode-py/ws/api/missions","connectVia":{"referenceName":"AutoResolveIntegrationRuntime","type":"IntegrationRuntimeReference"}}}],"policy":{"elapsedTimeMetric":{}},"annotations":[]},"dependsOn":["[concat(variables('workspaceId'), '/datasets/RestResource1')]","[concat(variables('workspaceId'), '/datasets/Json1')]"]},{"name":"[concat(parameters('workspaceName'), '/RestResource1')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('Nasa_Rest_Api')]","type":"LinkedServiceReference"},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":"/geode-py/ws/api/mission/SpaceX-12"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Json1')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('synapsecu109gn-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"spacemission","fileSystem":"rawdata"}},"schema":{}},"dependsOn":[]}]}