ARM Artifacts/datafactory/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "adfcicddevv"
        },
        "AzureDatabricks1_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
        },
        "bronzelayer_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'bronzelayer'"
        },
        "AzureDatabricks1_properties_typeProperties_existingClusterId": {
            "type": "string",
            "defaultValue": "1011-115223-bnizpa1q"
        },
        "Get All bus stops data_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "http://api.wmata.com/"
        },
        "bronzelayer_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://adfcicddatalakedev.dfs.core.windows.net/"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/Getting Train details')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Getting Json response from realtime train data",
                "activities": [
                    {
                        "name": "Api_key_from_keyvalut",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "method": "GET",
                            "headers": {},
                            "url": "https://devapikey.vault.azure.net/secrets/restapikey/5acd49c7f8bd41c7a7cd2264b7f45ac4?api-version=7.0",
                            "authentication": {
                                "type": "MSI",
                                "resource": "https://vault.azure.net"
                            }
                        }
                    },
                    {
                        "name": "Copying data into ADLSG2",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Api_key_from_keyvalut",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "RestSource",
                                "httpRequestTimeout": "00:01:40",
                                "requestInterval": "00.00:00:00.100",
                                "requestMethod": "GET",
                                "additionalHeaders": {
                                    "api_key": {
                                        "value": "@activity('Api_key_from_keyvalut').output.value",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "sink": {
                                "type": "JsonSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "JsonWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "restapi",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "target",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Wait1",
                        "type": "Wait",
                        "dependsOn": [
                            {
                                "activity": "Api_key_from_keyvalut",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "waitTimeInSeconds": 1
                        }
                    },
                    {
                        "name": "Data Processing",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Copying data into ADLSG2",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Users/cloud_learning123_outlook.com#ext#@cloudlearning123outlook.onmicrosoft.com/ADFCICD/Notebooks/BronzeProcessingNotebook"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks1",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-11T08:35:25Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/restapi')]",
                "[concat(variables('factoryId'), '/datasets/target')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/restapi')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Get All bus stops data",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "RestResource",
                "typeProperties": {
                    "relativeUrl": "TrainPositions/TrainPositions?contentType=string"
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/Get All bus stops data')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/target')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "bronzelayer",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "RealTimeStatus.json",
                        "folderPath": "RealtimeTrainsStatus",
                        "fileSystem": "bronze"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/bronzelayer')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-3277455593214635.15.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('AzureDatabricks1_accessToken')]"
                    },
                    "existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Get All bus stops data')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Getting all bus stops data",
                "annotations": [],
                "type": "RestService",
                "typeProperties": {
                    "url": "[parameters('Get All bus stops data_properties_typeProperties_url')]",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/bronzelayer')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('bronzelayer_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('bronzelayer_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        }
    ]
}