data-factory/pipeline/Getting Nasa API.json
{
	"name": "Getting Nasa API",
	"properties": {
		"description": "Get Missions URLs from NASA API",
		"activities": [
			{
				"name": "Api_key_from_keyvalut",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://apikeysecret.vault.azure.net/secrets/apikey/da89e41d9bd54d3f9ee04988b7f102c2?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Api_key_from_keyvalut",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"api_key": {
								"value": "@activity('Api_key_from_keyvalut').output.value",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-09-16T16:02:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}